# Summer_2012 .gitignore file
# ---------------------------
#

# Filetypes to ignore
# -------------------
# Ignore all swap files from vim
*.swo
*.swp
*.swm
*.swn
# Ignore all temporary files from compilation
._*
# Ignore object files
*.o
# Ignore text file output
*.txt
# Ignore feh temporary files
feh*
# Ignore my .xoj files
*.xoj
# Ignore files from building tex docs
*.log
*.aux

# Directories to ignore
# ---------------------
# Ignore everything matlab
matlab
# Ignore output directory
output
# Ignore papers directory
papers
# Ignore presentations
presentations
